<!-- Modal -->
<div id="mdl_force" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lbl_force" aria-hidden="true">

  <div class="modal-body">
    <h4>Please wait while forcing schedule to be the most current…</h4>
  </div>

</div>