<h1>Welcome to Media JFX - Power to your Media!</h1>

<p>We need to have a dashboard widget which displays what packages are in use and where.</p>

<ul>
  <% @users.all.each do |user| %>
    <li><%= "#{user.name} has a token of"%> <%=  user.authentication_token.blank? ? "Token Empty" : user.authentication_token %></li>
  <% end %>
</ul>

