<!-- start .footer -->
<div class="footer">
 <footer>
   <div class="row">
     <div class="span9 offset1">
        <p><small>powered by <a href="#">ruby on rails</a>, <a href="#">twitter bootstrap</a>, <a href="#">nginx</a>, postgres and mongodb  <i class="icon-github"></i></small></p>
     </div>
     <div class="span2">
       <small>&copy; Media JFX 2013</small>
     </div>
   </div>
   <div class="row">
     <div class="span1 offset1">
        <a href="http://twitter.com/mediajfx"><i class="icon-twitter"></i>  </a>
        <!--a href="https://github.com/mattypreston"><i class="icon-github-alt"></i>  </a-->
        <a href="https://www.facebook.com/pages/Media-JFX/235661116578332"><i class="icon-facebook"></i>  </a>
        <a href="//plus.google.com/108989780672402223164?prsrc=3" rel="publisher"><i class="icon-google-plus"></i>  </a>

     </div>

   </div>
 </footer>
</div>
<!-- end .footer -->