<!-- start .footer -->
 <footer>
   <div class="row">
     <div class="span9">
        <p><small>powered by <a href="#">ruby on rails</a>, <a href="#">twitter bootstrap</a>, <a href="#">nginx</a>, postgres and mongodb  <i class="icon-github"></i></small></p>
     </div>
     <div class="span3">
       <small>&copy; Media JFX 2013</small>
     </div>
   </div>
 </footer>
<!-- end .footer -->