<% if user_signed_in? %>
  <%= render :partial=> 'layouts/nav_bar' %>
<% end %>

<div class="wrapper">
    <div class="container">
        <div class="row">
          <div class="span12">
            <%= render :partial=> 'layouts/messages' %>
            <%= yield %>
          </div>
          <%#= render :partial=> 'layouts/side_bar' %>
        </div><!--/row-->
    </div> <!-- /container -->
    <div class="push"></div>
</div>
<%= render :partial=> 'layouts/footer' %>